backports.tarfile
black
exceptiongroup
gensim
importlib-metadata
importlib-resources
ipykernel
jaraco.collections
nbformat
nltk
pickleshare
pip-chill
plotly
scikit-learn
seaborn
tomli
torchaudio
torchvision
